.circle-icon{
 /* width: 5rem;
 height:5rem; */
}
.bi,.las{
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background: linear-gradient(to bottom, rgb(153, 0, 255), rgb(10, 180, 10));
     */
     /* background-color: #3e187a; */
background: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);

}

