<div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-md-5">
    <div class="my-3 pt-3">
       <i class="bi bi-reception-4"></i>
      <h2 class="display-6">Our Vission</h2>
      <p class="lead">Wintrade</p>
    </div>
    <div class=" shadow-sm mx-auto " style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;">
        To help individuals, institutions,business owners and communities 
         build wealth and realize their dreams.
    </div>
  </div>