<footer class="bg-primary">
    <div class="row">
    <div class="col-12 col-md text-warning">
     <img src="../../../assets/img/logo_prev_ui.png" height="100" alt="">
      <small class="d-block mb-3 text-white">&copy; Wintrade-2023</small>
    </div>
    <div class="col-6 col-md ">
      <h5>Usefull Links</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Home</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Services</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Brokers</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Testimonials</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Services</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Wintrade TechZone</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Wintrade e-Faculty</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Cashflow 360</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Signal Edge</a></li>
      </ul>
    </div>
  
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <li><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
      </ul>
    </div>
    </div>
</footer>