p {
    font-family: Lato;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
   padding-left: 2rem;
  }
  .nav-container form{
    display: flex;
    justify-self: flex-end;
  }
  .nav-link{
color: white;
  }

 