<section class="p-5 bg-light " >
<div class="container">
 <h1 class="display-5 mb-5 text-capitalize">Why Choose Us</h1>

 
 <div class="row g-3 justify-content-between align-items-center">
  <div class="col-md-6  p-3">
   <app-support
   [iconClass]="'las la-calculator'"
   title="We Save Your Time" 
   content="You don't need to spend hours in front of the charts and news channel everyday. We do that for you while you can spend that time elsewhere.">
    <i class="bi bi-stopwatch text-bg-primary"></i>
   </app-support>
  </div>
  <!-- <i class="las la-stopwatch"></i> -->
  <div class="col-md-6 p-3 ">
   <app-support 
   [iconClass]="'las la-robot'"
   title="We Do The Hard Work" 
   content="Our automated  trading software  scans  the  markets 24/7. We analyze and decrypt the markets and economies for you. All of us take the same trades. All of us makes money!"></app-support>
  </div>

   <div class="col-md-6  p-3 ">
    <app-support 
    [iconClass]="'las la-stopwatch'"
    title="We Are Consistent" 
    content="Consistency is the name of the game. We are discipline and patient traders and we know what they're doing. As a result we have always been able to come out profitable unlike other similar services."></app-support>
  </div>

   <div class=" col-md-6   p-3 ">
     <app-support 
     [iconClass]="'las la-people-carry'"
     title="24/7 Support"
     content="You can contact nay time of the day. We will get back to you in the shortest period of tume. You can message us anytime of the day with any of your queries. We are always there to help."></app-support>
  </div> 
  <div class="col-md-6  p-3">
   <app-support 
   [iconClass]="'las la-check-double'"
   title="Unbeatable Accuracy" 
   content="We hold an accuracy of more than 98% which allows us to have a very little drawdown and maximum profits."></app-support>
  </div>

<div class="col-md-6">
  <img src="../../../assets/img//img4.jpg" class="w-100" alt="">
</div>

 </div>
</div>
</section>